In [2]:
#Python Regular expressions
#Lecture 1
#Regular Exp are used to match string patterns.
#'\n' - denotes a new line --- and its a one character an not two characters
#'\t' - denotes a tab
# r'\n' - it means raw string with two characters 'n' and '\' as opposed to single one character. so its getting rid of 
# python special characters

In [2]:
import re
re.search('n','\n') #first is pattern and 2nd is string
bool(re.search('n','\n'))
#its not able to find anything as n is a normal char and \n is a special character

False

In [2]:
import re
re.search('n','\\n')
#its able to find anything as n is a normal char and \\n is also a normal character

In [434]:
import re
re.search('n','\n\n\n\n\n\n')
#its not the best way if we have too many \n so what we will do is to convert all \n into raw characters using r

In [435]:
re.search('n',r'\n\n\n\n\n\n')
#here r get rid of python \n special meaning

In [437]:
import re
re.search('\n','\n\n\n\n\n\n')

In [17]:
#regular exp also has its own special characters as well
#regex with '\n' and r'\n' both look for a newline

re.search('\n','\n\n\n\n\n\n\n\n\n')

In [18]:
re.search(r'\n','\n\n\n\n\n\n\n\n\n\n')
#this works as well as r'\n' also looks for a new line as well.

In [24]:
re.search(r'\n',r'\n\n\n\n\n\n\n')
#doesnot work becoz string doesnt use a new line and r'\n' looks for a new line. So a raw string with a new line is still a new line
# r\n pattern looks for a new line.

In [3]:
re.search(r'\n', r'\n')

In [25]:
#so when applying a raw string(r) to a regular expression it doesnot have much effect.but when dealing with string it get 
#rid of pyhon special characters

Lecture2

In [ ]:
#re common methods - match and search
#re.search(pattern, string, flags)  #-----searches anywhere in the string
#re.match(pattern, string, flags)   #-----searches only begining of the string

In [3]:
re.search('c','abcdefgh')

In [23]:
bool(re.search('c','abcdefgh'))

True

In [3]:
re.match('c','abcdefgh')
#it gives a null value back

In [30]:
re.match('a','abcdefgh')

In [32]:
bool(re.match('a','abcdefgh'))

True

In [28]:
bool(re.match('c','abcdefgh'))

False

In [34]:
re.search('c','abcdefghcgc') #re.search searches for the first instance only and not for more inctance

In [35]:
re.search('c','ab\ncdefgh') #re.search works with multiline as well. it locate c in new line too

In [1]:
print('ab\ncdefgh')

ab
cdefgh

In [36]:
re.match('c','ab\ncdefgh') #rematch doesnot work with multiline as c is new char in new line

In [ ]:
#Print the output of match and search

In [38]:
re.match('a','abcdefgh')

In [39]:
re.match('a','abcdefgh').group() #to print the output of re match we use group

'a'

In [40]:
re.match('a','abcdefgh').group(0)

'a'

In [41]:
re.search('n','My name is abhijeet').group()

'n'

In [3]:
re.search('n....','My name is abhijeet')

In [441]:
re.search('n.+','My name is abhijeet') #it will pull out everything after n based on wild card we are using

In [14]:
re.search('n.+','My name is abhijeet').group()

'name is abhijeet'

In [43]:
#to pull out the starting index 
re.search('n','My name is abhijeet').start()

3

In [44]:
#to pull out the end index
re.search('n','My name is abhijeet').end()

4

Literal matching

In [15]:
re.search('na','abcdefnc abcd') #it will literally match the na in the string

In [50]:
re.search('n|a','abcdefnc abcd') #it searches for first instance only so a. # | or [ ] are same. We dont use | because we have to put multiple or

In [4]:
re.search('M|n|a','My name is abhijeet')

In [51]:
re.search('n|b','abcdefnc abcd')

In [18]:
re.search('b|c|d','abcdefnc abcd') #we can put as many or statement we want

In [19]:
#findall -----it will pullout all the instances as a list
re.findall('d|a','abcdefnc abcd')

['a', 'd', 'a', 'd']

In [24]:
re.findall(r'[da]','abcdefnc abcd')

['a', 'd', 'a', 'd']

In [54]:
re.search('abcd','abcdefgh abcd')  #search will pul out only the first match

In [55]:
re.findall('abcd','abcdefgh abcd')

['abcd', 'abcd']

Lecture-3
Character Search

In [21]:
#\w matches alphabet character and number alphanumeric ---it includes [a-zA-Z0-9_] 
re.search(r'\w\w\w\w','abc123ijk pqrs')

In [57]:
re.search(r'\w\w\w\w','a_b_c_d_e')

In [58]:
re.search(r'\w\w\w\w',';/.,abcd')

In [445]:
re.search(r'\w\w\w\w','ab;/.,')
#we are getting no results here

In [65]:
#\W represents opposite of \w i.e. not \w
re.search(r'\W\W\W',';/.,abcd')

In [66]:
re.search(r'\W\W\W\w',';/.,abcd')

In [67]:
re.search(r'\w\w\W','a_ .123acb')

Let go to quantifiers

#quantifiers 
'+' = 1 or more  #+ is also called as greedy quantifier so it tries to pull out more
'?' = 0 or 1 
'*' = 0 or more
'{n,m}' = n to m repetation {,3},{3,}

In [69]:
re.search(r'\w','abcdefgh abcd')

In [72]:
re.search(r'\w+','abcdefgh abcd')

In [71]:
re.search(r'\w+','abcdefgh abcd').group()

'abcdefgh'

In [51]:
a=re.findall(r'\w+','abcdefgh abcd')
a

['abcdefgh', 'abcd']

In [54]:
re.search(r'\w+\W\w+','abcdefgh abcd').group()

'abcdefgh abcd'

In [78]:
re.search(r'\w+\W+\w+','abcdefgh,./;[];abcd').group()

'abcdefgh,./;[];abcd'

In [79]:
re.search(r'\w+\W?\w+','abcdefghabcd').group()

'abcdefghabcd'

In [83]:
re.search(r'\w+\W?\w+','abcdef ghabcd').group() #? rep either 0 or 1

'abcdef ghabcd'

In [6]:
#pulling out specific amount
re.search(r'\w{0,3}','aaaaaaaaaa')

In [7]:
#pulling out specific amount
re.findall(r'\w{0,3}','aaaaaaaaaa')

['aaa', 'aaa', 'aaa', 'a', '']

In [8]:
re.findall(r'\w{3}','aaaaaaaaaa')

['aaa', 'aaa', 'aaa']

In [85]:
re.search(r'\w{3,}','aaaaaaaaaa') # it denotes min 3 to infinite

In [86]:
re.search(r'\w{1,4}','aaaaaaaaaa')

In [26]:
re.findall(r'\w{1,4}','aaaaaaaaaa')

['aaaa', 'aaaa', 'aa']

In [23]:
re.search(r'\w{1,4}','aa  aaaaaaaa')

In [27]:
re.findall(r'\w{1,4}','aa  aaaaaaaa')

['aa', 'aaaa', 'aaaa']

In [24]:
re.search(r'\w{1,6}\W{0,4}\w+','abcdef   abcdef')

In [31]:
re.search(r'\w{1,6}\W{4}\w+','abcdef    abcdef')

Lecture 4

In [104]:
#other type of characters sets
##  \d - matches digits[0,9]
##  \D - matches digits ~[0,9] i.e. any non digit character ~\d

In [36]:
string = '23abcdef11++'
re.search(r'\d+',string).group()

'23'

In [37]:
re.findall(r'\d+',string)

['23', '11']

In [37]:
string = '23abcdef++'
re.search(r'\D+',string).group()

'abcdef++'

In [ ]:
## \s rep any white space character i.e. newlines, tabs, spaces etc
## \S matches any non whitespace characters
# whitespace characters are basically nelines or tabs or .... so \n,\t are all whitespace characters
# \S matches aything that are not whitespace

In [26]:
string = 'abcd1234++--'
re.search(r'\S',string)

In [107]:
string = 'abcd1234++--'
re.search(r'\S\S',string)

In [108]:
string = 'abcd1234++--'
re.search(r'\S+',string)

In [11]:
string = '''Indians. are the 'nationals' or citizens of India the second most populous nation in the world containing  
of the world's population. "Indian" refers to nationality, rather than a particular ethnicity or language; the Indian 
nationality consists of dozens of regional ethno-linguistic groups, reflecting the rich and complex history of the country. 
Due to emigration, the Indian diaspora is present throughout the world, notably in other parts of Asia, North America, 
the Caribbean, Oceania, and Africa.[4]
The demonymn Indian today applies to nationals of the Republic of India, although before the partition of India in 1947, 
nationals residing in the entirety of British India (including what is now Pakistan and Bangladesh) were known as Indians as
well'''

In [12]:
re.search(r'\S+',string).group()

'Indians.'

In [13]:
re.findall(r'\S+',string) #it will fin all the non white space and will return a list

['Indians.',
 'are',
 'the',
 "'nationals'",
 'or',
 'citizens',
 'of',
 'India',
 'the',
 'second',
 'most',
 'populous',
 'nation',
 'in',
 'the',
 'world',
 'containing',
 'of',
 'the',
 "world's",
 'population.',
 '"Indian"',
 'refers',
 'to',
 'nationality,',
 'rather',
 'than',
 'a',
 'particular',
 'ethnicity',
 'or',
 'language;',
 'the',
 'Indian',
 'nationality',
 'consists',
 'of',
 'dozens',
 'of',
 'regional',
 'ethno-linguistic',
 'groups,',
 'reflecting',
 'the',
 'rich',
 'and',
 'complex',
 'history',
 'of',
 'the',
 'country.',
 'Due',
 'to',
 'emigration,',
 'the',
 'Indian',
 'diaspora',
 'is',
 'present',
 'throughout',
 'the',
 'world,',
 'notably',
 'in',
 'other',
 'parts',
 'of',
 'Asia,',
 'North',
 'America,',
 'the',
 'Caribbean,',
 'Oceania,',
 'and',
 'Africa.[4]',
 'The',
 'demonymn',
 'Indian',
 'today',
 'applies',
 'to',
 'nationals',
 'of',
 'the',
 'Republic',
 'of',
 'India,',
 'although',
 'before',
 'the',
 'partition',
 'of',
 'India',
 'in',
 '1947,',
 'nationals',
 'residing',
 'in',
 'the',
 'entirety',
 'of',
 'British',
 'India',
 '(including',
 'what',
 'is',
 'now',
 'Pakistan',
 'and',
 'Bangladesh)',
 'were',
 'known',
 'as',
 'Indians',
 'as',
 'well']

In [14]:
' '.join(re.findall(r'\S+',string)) #join method will take input as a list

'Indians. are the \'nationals\' or citizens of India the second most populous nation in the world containing of the world\'s population. "Indian" refers to nationality, rather than a particular ethnicity or language; the Indian nationality consists of dozens of regional ethno-linguistic groups, reflecting the rich and complex history of the country. Due to emigration, the Indian diaspora is present throughout the world, notably in other parts of Asia, North America, the Caribbean, Oceania, and Africa.[4] The demonymn Indian today applies to nationals of the Republic of India, although before the partition of India in 1947, nationals residing in the entirety of British India (including what is now Pakistan and Bangladesh) were known as Indians as well'

In [448]:
list =['My', 'name','is', 'Abhijeet']
'-'.join(list)

'My-name-is-Abhijeet'

In [ ]:
# .(dot) rep any character except new line => .+ will print the first line

In [31]:
re.search(r'.+',string).group()

'Indians are the nationals or citizens of India the second most populous nation in the world containing  '

In [133]:
re.search(r'.+',string,flags=re.DOTALL).group()

'Indians are the nationals or citizens of India the second most populous nation in the world containing  \nof the world\'s population. "Indian" refers to nationality, rather than a particular ethnicity or language; the Indian \nnationality consists of dozens of regional ethno-linguistic groups, reflecting the rich and complex history of the country. \nDue to emigration, the Indian diaspora is present throughout the world, notably in other parts of Asia, North America, \nthe Caribbean, Oceania, and Africa.[4]\nThe demonymn Indian today applies to nationals of the Republic of India, although before the partition of India in 1947, \nnationals residing in the entirety of British India (including what is now Pakistan and Bangladesh) were known as Indians as\nwell'

Create your own character sets

In [ ]:
## [A-Z] '-' is a metacharacter when used in [] (custom character set)

In [12]:
import re
string = 'HELLO, There, How, Are, You'

In [4]:
re.findall(r'[A-Z]+', string) #[] represent "or" here it means either A-Z anything and if we add + then it will give me everything with A-Z

['HELLO', 'T', 'H', 'A', 'Y']

In [6]:
re.findall(r'\w+', string)

['HELLO', 'There', 'How', 'Are', 'You']

In [19]:
re.findall(r'[A-Za-z]', string)

['H',
 'E',
 'L',
 'L',
 'O',
 'T',
 'h',
 'e',
 'r',
 'e',
 'H',
 'o',
 'w',
 'A',
 'r',
 'e',
 'Y',
 'o',
 'u']

In [51]:
re.findall(r'[A-Za-z]+', string)

['HELLO', 'There', 'How', 'Are', 'You']

In [52]:
re.findall(r'[A-Z,]',string) #here we will search for any A-Z or a comma(,)

['H', 'E', 'L', 'L', 'O', ',', 'T', ',', 'H', ',', 'A', ',', 'Y']

In [20]:
re.findall(r'[A-Z,]+',string)

['HELLO,', 'T', ',', 'H', ',', 'A', ',', 'Y']

In [53]:
string = 'Hello, There, How, Are, You.....'
re.findall(r'[A-Z,.]',string)

['H', ',', 'T', ',', 'H', ',', 'A', ',', 'Y', '.', '.', '.', '.', '.']

In [34]:
re.findall(r'[A-Za-z,.\s]',string)

['H',
 'e',
 'l',
 'l',
 'o',
 ',',
 ' ',
 'T',
 'h',
 'e',
 'r',
 'e',
 ',',
 ' ',
 'H',
 'o',
 'w',
 ',',
 ' ',
 'A',
 'r',
 'e',
 ',',
 ' ',
 'Y',
 'o',
 'u',
 '.',
 '.',
 '.',
 '.',
 '.']

In [56]:
re.findall(r'[A-Za-z,.\s]',string)

['H',
 'e',
 'l',
 'l',
 'o',
 ',',
 ' ',
 'T',
 'h',
 'e',
 'r',
 'e',
 ',',
 ' ',
 'H',
 'o',
 'w',
 ',',
 ' ',
 'A',
 'r',
 'e',
 ',',
 ' ',
 'Y',
 'o',
 'u',
 '.',
 '.',
 '.',
 '.',
 '.']

In [ ]:
Lecture 5
#Quantifiers with custom sets --- + ? *

In [5]:
string = 'Hello, There, How, Are, You'

In [6]:
re.search(r'[A-Za-z],', string)

In [7]:
re.findall(r'[A-Z]|\w+', string)

['H', 'ello', 'T', 'here', 'H', 'ow', 'A', 're', 'Y', 'ou']

In [10]:
re.findall(r'[A-Z\w]+', string)

['Hello', 'There', 'How', 'Are', 'You']

In [6]:
string = 'HELLO, There, How, Are, You...'

In [152]:
re.search(r'[A-Z]+', string) # search only pull out first instance

In [153]:
re.findall(r'[A-Z]+',string)

['HELLO', 'T', 'H', 'A', 'Y']

In [309]:
re.findall(r'[A-Z]+',string)

['HELLO', 'T', 'H', 'A', 'Y']

In [26]:
re.findall(r'H|E|L+|O',string)

['H', 'E', 'LL', 'O', 'H']

In [161]:
re.findall(r'[A-Z]{1,}',string)

['HELLO', 'T', 'H', 'A', 'Y']

In [162]:
re.findall(r'[A-Z]{2,}',string)

['HELLO']

In [166]:
re.search(r'[A-Za-z\s,]+',string).group()

'HELLO, There, How, Are, You'

In [167]:
re.findall(r'[A-Z]?[a-z\s,]+',string)

['O, ', 'There, ', 'How, ', 'Are, ', 'You']

In [7]:
re.findall(r'[A-Z]?[a-z\s,A-Z]+',string)

['HELLO, There, How, Are, You']

In [176]:
re.search(r'[^A-Za-z\s,]+',string).group()

'...'

In [180]:
re.findall(r'[^A-Z]+',string)

[', ', 'here, ', 'ow, ', 're, ', 'ou...']

In [181]:
re.findall(r'[^A-Z]',string)

[',',
 ' ',
 'h',
 'e',
 'r',
 'e',
 ',',
 ' ',
 'o',
 'w',
 ',',
 ' ',
 'r',
 'e',
 ',',
 ' ',
 'o',
 'u',
 '.',
 '.',
 '.']

In [183]:
re.search(r'[^A-Z]+',string)

In [ ]:
Lecture 6
## Introduction to Groups == Groups allow us to pull out sections of a match and we can store those sections

In [4]:
import re
string = 'John has 6 cats but I think my friend Susan has 3 dogs and Mike has 8 fishes'

In [37]:
re.findall(r'[A-Za-z]+\shas\s\d\s[a-z]+', string)

['John has 6 cats', 'Susan has 3 dogs', 'Mike has 8 fishes']

In [38]:
re.findall(r'([A-Za-z]+)\s\w+\s(\d+)\s(\w+)',string)

[('John', '6', 'cats'), ('Susan', '3', 'dogs'), ('Mike', '8', 'fishes')]

In [72]:
re.findall(r'([A-Z][a-z]+)\s[a-z]+\s(\d)\s([a-z]+)', string)

[('John', '6', 'cats'), ('Susan', '3', 'dogs'), ('Mike', '8', 'fishes')]

In [12]:
re.findall(r'[A-Za-z]+ \w+ \d+ \w+',string)

['John has 6 cats', 'Susan has 3 dogs', 'Mike has 8 fishes']

In [ ]:
#( ) == the use of brackets is called as group\
#( ) - metacharacter

In [197]:
re.findall(r'([A-Za-z]+) \w+ \d+ \w+',string) #pull out allthe names

['John', 'Susan', 'Mike']

In [198]:
re.findall(r'[A-Za-z]+ \w+ \d+ (\w+)',string) #pull out types of animals

['cats', 'dogs', 'fishes']

In [200]:
re.findall(r'([A-Za-z]+) \w+ (\d+) (\w+)',string)

[('John', '6', 'cats'), ('Susan', '3', 'dogs'), ('Mike', '8', 'fishes')]

In [13]:
info = re.findall(r'([A-Za-z]+) \w+ (\d+) (\w+)',string)
info

[('John', '6', 'cats'), ('Susan', '3', 'dogs'), ('Mike', '8', 'fishes')]

In [16]:
list(zip(*info)) #organise the data within their categories

[('John', 'Susan', 'Mike'), ('6', '3', '8'), ('cats', 'dogs', 'fishes')]

In [73]:
match = re.search(r'([A-Za-z]+) \w+ (\d+) (\w+)',string)
match.group(0)

'John has 6 cats'

In [226]:
match.groups(0) # group 0 is the entire string

('John', '6', 'cats')

In [218]:
match.group(1)

'John'

In [219]:
match.group(2)

'6'

In [220]:
match.group(3)

'cats'

In [221]:
match.group(1,3)

('John', 'cats')

In [222]:
match.group(1,3,2,3)

('John', 'cats', '6', 'cats')

In [223]:
match.span()

(0, 15)

In [225]:
match.span(1)

(0, 4)

In [239]:
data = re.findall(r'(([A-Za-z]+) \w+ (\d+) (\w+))',string) #making one more gruop ie larger group
data

[('John has 6 cats', 'John', '6', 'cats'),
 ('Susan has 3 dogs', 'Susan', '3', 'dogs'),
 ('Mike has 8 fishes', 'Mike', '8', 'fishes')]

In [234]:
data[0][0]

'John has 6 cats'

In [241]:
for i in data:
    print (i[0])

John has 6 cats
Susan has 3 dogs
Mike has 8 fishes

In [ ]:
'''re.findall is used to pull out all the instances. re.match and re.search is used to find only first instance. there is 
someting called as iterator'''

Lecture 7
Naming Group

In [242]:
import re

In [243]:
string = 'New York, New York11369'

In [254]:
match=re.match(r'([A-Za-z\s]+), ([A-Za-z\s]+)(\d+)',string)

In [255]:
match.group()

'New York, New York11369'

In [256]:
match.group(1)

'New York'

In [257]:
match.group(2)

'New York'

In [258]:
match.group(3)

'11369'

In [269]:
#we can put name to the group as well. For that use ?p<GroupName> == p means prepend
pattern = re.compile('(?P<City>[A-Za-z\s]+), (?P<State>[A-Za-z\s]+)(?P<PinCode>\d+)')

In [271]:
match = re.search(pattern, string)

In [272]:
match

In [275]:
match.group('City'), match.group('State'), match.group('PinCode')

('New York', 'New York', '11369')

In [277]:
match.group(1)

'New York'

In [278]:
match.group('City')

'New York'

In [279]:
match.groupdict() # incase we have forgot oue group name

{'City': 'New York', 'PinCode': '11369', 'State': 'New York'}

In [ ]:
#=====================================================================================================

In [280]:
#r stand for rawstring
print(r'\tTab')

\tTab

In [ ]:
re.search()

In [56]:
import re
string = 'abcdefghiabccdefghi'

In [74]:
#compile is used to compile a reg ex pateern in a regex object which can be used for matching and searching any number of times.
pattern = re.compile(r'abc')

In [75]:
re.findall(pattern, 'abcdabcdabacd')

['abc', 'abc']

In [58]:
matches = pattern.finditer(string)

In [343]:
for match in matches:
    print(match)

<_sre.SRE_Match object; span=(0, 3), match='abc'>
<_sre.SRE_Match object; span=(9, 12), match='abc'>

In [ ]:
################################################################################################################

In [ ]:
# Regular expression - it is a special text string for describing a pattern

In [40]:
NameAge='''Janice is 22 and Theon is 33
           Gabriel is 44 and Joey is 21'''

In [41]:
ages=re.findall(r'\d\d',NameAge)
names =re.findall(r'[A-Z][a-z]+',NameAge)

In [43]:
print(names)
ages

['Janice', 'Theon', 'Gabriel', 'Joey']

['22', '33', '44', '21']

In [44]:
mapped = zip(names,ages)
mapped

In [45]:
dict(mapped)

{'Gabriel': '44', 'Janice': '22', 'Joey': '21', 'Theon': '33'}

# SUBStitute

In [40]:
import re
NameAge='''Janice is 22 ...\\\???? and Theon is 33////...,,,;;-
           Gabriel is 44 +++++++++++++-------- and Joey is 21'''

In [42]:
a =re.sub(pattern= r'[^A-Za-z\d]+', repl= ' ', string= NameAge)
a

'Janice is 22 and Theon is 33 Gabriel is 44 and Joey is 21'

In [363]:
# we need to find a word in sentence

In [43]:
string = 'we need to inform him with the latest information'

In [44]:
import re
if bool(re.search(r'inform',string)):
    print ('there is inform')

there is inform

In [18]:
allfind = re.findall(r'inform',string)
allfind

['inform', 'inform']

In [19]:
#get the staring index and ending index of a particular string
pattern = re.compile(r'inform')

In [20]:
map = pattern.finditer(string)

In [387]:
for i in map:
    print(i)

<_sre.SRE_Match object; span=(11, 17), match='inform'>
<_sre.SRE_Match object; span=(38, 44), match='inform'>

In [22]:
#or we can do in below way also
iterable=re.finditer(r'inform',string)
for i in iterable:
    print (i)
    print(i.span())

<_sre.SRE_Match object; span=(11, 17), match='inform'>
(11, 17)
<_sre.SRE_Match object; span=(38, 44), match='inform'>
(38, 44)

In [396]:
#match words with a particular pattern
import re
str ='Sat, Hat, Mat, Pat'

In [400]:
allstr = re.findall(r'[SHMP]at', str) #here first letter is [SHMP]
allstr

['Sat', 'Hat', 'Mat', 'Pat']

In [403]:
#Match series of range of character
someStr = re.findall(r'[H-P]at',str)
someStr

['Hat', 'Mat', 'Pat']

In [404]:
someStr1 = re.findall(r'[^H-P]at',str)
someStr1

['Sat']

In [410]:
#replacing a string
Food ='hat, mat, rat, pat'

In [409]:
regex=re.compile(r'rat')
Food = regex.sub('food',Food)
Food

'hat, mat, food, pat'

In [416]:
#match a single character
randno='12345'
re.findall(r'\d{2}',randno)

['12', '34']

In [417]:
randstr = '''Keep the blue flag
flying high
Chelsea'''

In [420]:
regex=re.compile('\n')
randstr = regex.sub(' ',randstr)
randstr

'Keep the blue flag flying high Chelsea'

In [422]:
num = '123 1234 12345 123456 1234567'
re.findall(r'\d{3,5}',num)

['123', '1234', '12345', '12345', '12345']

In [46]:
email = 'sk@aol.com md@.com @seo.com dc@.com'

In [49]:
re.findall(r'[a-z]+@[a-z]+.[a-z]+', email)

['sk@aol.com']

In [431]:
re.findall(r'[\w._@+-]+@[\w_+-]{2,20}.[a-z]+', email)

['sk@aol.com']

In [3]:
lis=[1,2,3,4,5]

15